@using Microsoft.AspNetCore.Components.Authorization
@using Modernization.SideBySide.New.Services
@inject SelectedCurrencyService selectedCurrencyService
@inherits LayoutComponentBase

<div class="container">
            
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Contoso Shop (Blazor | Side-by-side)</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Products</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <AuthorizeView>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Products">Admin</a>
                        </li>
                    </AuthorizeView>
                    <li class="nav-item">
                        <AuthorizeView>
                            <NotAuthorized>
                                <a href="/Login" class="nav-link">Sign in</a>
                            </NotAuthorized>
                            <Authorized>
                                <!-- TODO: requires single sign-on -->
                                <a href="/" class="nav-link">Sign out</a>
                            </Authorized>
                        </AuthorizeView>
                    </li>
                </ul>
                <div class="d-flex">
                    <InputSelect TValue="string" 
                                 class="form-select me-2"
                                 @bind-Value="SelectedCurrency"
                                 @ValueChanged="@((string value) => selectedCurrencyService.SetCurrency(value))">
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="JPY">JPY</option>
                        <option value="GBP">GBP</option>
                    </InputSelect>
                </div>
            </div>
        </div>
    </nav>

    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    public string SelectedCurrency { get; set; }

    protected override void OnInitialized()
    {
        SelectedCurrency = selectedCurrencyService.SelectedCurrency;
        base.OnInitialized();
    }

}